body {
	background: #ffffff;
	color: #000000;
}
input,
textarea {
	color: #000000;
}
.message {
	border-left: 1px solid rgb(220, 220, 220);
}
.refmessage {
	border-left: 1px solid rgb(27, 27, 27);
}
.nick {
	color: #a3a3a3;
}
.trip {
	color: #dcdcdc;
}
.text a {
	color: #000000;
}
.admin .nick {
	color: #0387d1;
}
.mod .nick {
	color: #0388d2;
}
.me .nick {
	color: #000;
}
.info .nick,
.info .text {
	color: #7d7d7d;
}
.warn .nick,
.warn .text {
	color: #f55;
}
#footer {
	background: #ffffff;
}
#sidebar {
	background: #ffffff;
	border-color: #ffffff;
}
#chatform {
	border-color: #dcdcdc;
}
