body {
  background: #212121;
  color: #e0e0e0;
}
input,
textarea {
  color: #e0e0e0;
}
.message {
  border-left: 1px solid rgba(133, 133, 133, 0.5);
}
.refmessage {
  border-left: 1px solid rgba(133, 133, 133, 1);
}
.nick {
  color: #0099CC;
}
.trip {
  color: #626261;
}
.text a {
  color: #f2f2f2;
}
.admin .nick {
  color: #e94749;
}
.mod .nick {
  color: #33B5E5;
}
.me .nick {
  color: #9568AA;
}
.info .nick,
.info .text {
  color: #99C21D;
}
.warn .nick,
.warn .text {
  color: #fbba37;
}
#footer {
  background: #212121;
}
#sidebar {
  background: #333333;
  border-color: #858585;
}
#chatform {
  border-color: #858585;
}
