body {
  background: #131513;
  color: #8ca68c;
}
input,
textarea {
  color: #8ca68c;
}
.message {
  border-left: 1px solid rgba(104, 125, 104, 0.5);
}
.refmessage {
  border-left: 1px solid rgba(104, 125, 104, 1);
}
.nick {
  color: #3d62f5;
}
.trip {
  color: #5e6e5e;
}
.text a {
  color: #cfe8cf;
}
.admin .nick {
  color: #e6193c;
}
.mod .nick {
  color: #1999b3;
}
.me .nick {
  color: #ad2bee;
}
.info .nick,
.info .text {
  color: #29a329;
}
.warn .nick,
.warn .text {
  color: #c3c322;
}
#footer {
  background: #131513;
}
#sidebar {
  background: #242924;
  border-color: #687d68;
}
#chatform {
  border-color: #687d68;
}
