body {
  background: #1b181b;
  color: #ab9bab;
}
input,
textarea {
  color: #ab9bab;
}
.message {
  border-left: 1px solid rgba(119, 105, 119, 0.5);
}
.refmessage {
  border-left: 1px solid rgba(119, 105, 119, 1);
}
.nick {
  color: #516aec;
}
.trip {
  color: #695d69;
}
.text a {
  color: #d8cad8;
}
.admin .nick {
  color: #ca402b;
}
.mod .nick {
  color: #159393;
}
.me .nick {
  color: #7b59c0;
}
.info .nick,
.info .text {
  color: #379a37;
}
.warn .nick,
.warn .text {
  color: #bb8a35;
}
#footer {
  background: #1b181b;
}
#sidebar {
  background: #292329;
  border-color: #776977;
}
#chatform {
  border-color: #776977;
}
