body {
  background: #161b1d;
  color: #7ea2b4;
}
input,
textarea {
  color: #7ea2b4;
}
.message {
  border-left: 1px solid rgba(90, 123, 140, 0.5);
}
.refmessage {
  border-left: 1px solid rgba(90, 123, 140, 1);
}
.nick {
  color: #257fad;
}
.trip {
  color: #516d7b;
}
.text a {
  color: #c1e4f6;
}
.admin .nick {
  color: #d22d72;
}
.mod .nick {
  color: #2d8f6f;
}
.me .nick {
  color: #5d5db1;
}
.info .nick,
.info .text {
  color: #568c3b;
}
.warn .nick,
.warn .text {
  color: #8a8a0f;
}
#footer {
  background: #161b1d;
}
#sidebar {
  background: #1f292e;
  border-color: #5a7b8c;
}
#chatform {
  border-color: #5a7b8c;
}
