body {
  background: #1b1918;
  color: #a8a19f;
}
input,
textarea {
  color: #a8a19f;
}
.message {
  border-left: 1px solid rgba(118, 110, 107, 0.5);
}
.refmessage {
  border-left: 1px solid rgba(118, 110, 107, 1);
}
.nick {
  color: #407ee7;
}
.trip {
  color: #68615e;
}
.text a {
  color: #e6e2e0;
}
.admin .nick {
  color: #f22c40;
}
.mod .nick {
  color: #00ad9c;
}
.me .nick {
  color: #6666ea;
}
.info .nick,
.info .text {
  color: #5ab738;
}
.warn .nick,
.warn .text {
  color: #d5911a;
}
#footer {
  background: #1b1918;
}
#sidebar {
  background: #2c2421;
  border-color: #766e6b;
}
#chatform {
  border-color: #766e6b;
}
