body {
  background: #000000;
  color: #e0e0e0;
}
input,
textarea {
  color: #e0e0e0;
}
.message {
  border-left: 1px solid rgba(176, 176, 176, 0.5);
}
.refmessage {
  border-left: 1px solid rgba(176, 176, 176, 1);
}
.nick {
  color: #6fb3d2;
}
.trip {
  color: #505050;
}
.text a {
  color: #f5f5f5;
}
.admin .nick {
  color: #fb0120;
}
.mod .nick {
  color: #76c7b7;
}
.me .nick {
  color: #d381c3;
}
.info .nick,
.info .text {
  color: #a1c659;
}
.warn .nick,
.warn .text {
  color: #fda331;
}
#footer {
  background: #000000;
}
#sidebar {
  background: #303030;
  border-color: #b0b0b0;
}
#chatform {
  border-color: #b0b0b0;
}
