body {
  background: #840580;
  color: #fc62f2;
}
input,
textarea {
  color: #fc62f2;
}
.message {
  border-left: 1px solid #fcb5fa;
}
.refmessage {
  border-left: 1px solid #fcb5fa;
}
.nick {
  color: #516aec;
}
.trip {
  color: #fc62f2;
}
.text a {
  color: #d8cad8;
}
.admin .nick {
  color: #ca402b;
}
.mod .nick {
  color: #159393;
}
.me .nick {
  color: #7b59c0;
}
.info .nick,
.info .text {
  color: #44fc07;
}
.warn .nick,
.warn .text {
  color: #fcf000;
}
#footer {
  background: #840580;
}
#sidebar {
  background: #db04d4;
  border-color: #fcb5fa;
  color:#fcfcfc;
}
#chatform {
  border-color: #fcb5fa;
}
