body {
  background: #151515;
  color: #d0d0d0;
}
input,
textarea {
  color: #d0d0d0;
}
.message {
  border-left: 1px solid rgba(80, 80, 80, 0.5);
}
.refmessage {
  border-left: 1px solid rgba(80, 80, 80, 1);
}
.nick {
  color: #6fc2ef;
}
.trip {
  color: #303030;
}
.text a {
  color: #e0e0e0;
}
.admin .nick {
  color: #fb9fb1;
}
.mod .nick {
  color: #12cfc0;
}
.me .nick {
  color: #e1a3ee;
}
.info .nick,
.info .text {
  color: #acc267;
}
.warn .nick,
.warn .text {
  color: #ddb26f;
}
#footer {
  background: #151515;
}
#sidebar {
  background: #202020;
  border-color: #505050;
}
#chatform {
  border-color: #505050;
}
