body {
  background: #2d2d2d;
  color: #d3d0c8;
}
input,
textarea {
  color: #d3d0c8;
}
.message {
  border-left: 1px solid rgba(116, 115, 105, 0.5);
}
.refmessage {
  border-left: 1px solid rgba(116, 115, 105, 1);
}
.nick {
  color: #6699cc;
}
.trip {
  color: #515151;
}
.text a {
  color: #e8e6df;
}
.admin .nick {
  color: #f2777a;
}
.mod .nick {
  color: #66cccc;
}
.me .nick {
  color: #cc99cc;
}
.info .nick,
.info .text {
  color: #99cc99;
}
.warn .nick,
.warn .text {
  color: #ffcc66;
}
#footer {
  background: #2d2d2d;
}
#sidebar {
  background: #393939;
  border-color: #747369;
}
#chatform {
  border-color: #747369;
}
