body {
  background: #191919;
  color: #00bb00;
}
input,
textarea {
  color: #00bb00;
}
.message {
  border-left: 1px solid rgba(0, 119, 0, 0.5);
}
.refmessage {
  border-left: 1px solid rgba(0, 119, 0, 1);
}
.nick {
  color: #009900;
}
.trip {
  color: #005500;
}
.text a {
  color: #00dd00;
}
.admin .nick {
  color: #007700;
}
.mod .nick {
  color: #005500;
}
.me .nick {
  color: #00bb00;
}
.info .nick,
.info .text {
  color: #00bb00;
}
.warn .nick,
.warn .text {
  color: #007700;
}
#footer {
  background: #191919;
}
#sidebar {
  background: #333333;
  border-color: #007700;
}
#chatform {
  border-color: #007700;
}
