body {
  background: #343D46;
  color: #93a1a1;
}
input,
textarea {
  color: #93a1a1;
}
.message {
  border-left: 1px solid rgba(101, 123, 131, 0.5);
}
.refmessage {
  border-left: 1px solid rgba(101, 123, 131, 1);
}
.nick {
  color: #5d8cb7;
}
.trip {
  color: #586e75;
}
.text a {
  color: #7a8f94;
}
.admin .nick {
  color: #387300;
}
.mod .nick {
  color: #4E9A06;
}
.me .nick {
  color: #594984;
}
.info .nick,
.info .text {
  color: #3ea268;
}
.warn .nick,
.warn .text {
  color: #EDD400;
}
#footer {
  background: #343D46;
}
#sidebar {
  background: #343D46;
  border-color: #212932;
}
#chatform {
  border-color: #212932;
}
