body {
  background: #3B3228;
  color: #d0c8c6;
}
input,
textarea {
  color: #d0c8c6;
}
.message {
  border-left: 1px solid rgba(126, 112, 90, 0.5);
}
.refmessage {
  border-left: 1px solid rgba(126, 112, 90, 1);
}
.nick {
  color: #8ab3b5;
}
.trip {
  color: #645240;
}
.text a {
  color: #e9e1dd;
}
.admin .nick {
  color: #cb6077;
}
.mod .nick {
  color: #7bbda4;
}
.me .nick {
  color: #a89bb9;
}
.info .nick,
.info .text {
  color: #beb55b;
}
.warn .nick,
.warn .text {
  color: #f4bc87;
}
#footer {
  background: #3B3228;
}
#sidebar {
  background: #534636;
  border-color: #7e705a;
}
#chatform {
  border-color: #7e705a;
}
