body {
  background: #030303;
  color: #cccccc;
}
input,
textarea {
  color: #cccccc;
}
.message {
  border-left: 1px solid rgba(115, 115, 115, 0.5);
}
.refmessage {
  border-left: 1px solid rgba(115, 115, 115, 1);
}
.nick {
  color: #388bb8;
}
.trip {
  color: #333333;
}
.text a {
  color: #f2f2f2;
}
.admin .nick {
  color: #f73e30;
}
.mod .nick {
  color: #29a288;
}
.me .nick {
  color: #9c73a7;
}
.info .nick,
.info .text {
  color: #1ab857;
}
.warn .nick,
.warn .text {
  color: #faba3d;
}
#footer {
  background: #030303;
}
#sidebar {
  background: #0d0d0d;
  border-color: #737373;
}
#chatform {
  border-color: #737373;
}
