body {
  background: #2b303b;
  color: #c0c5ce;
}
input,
textarea {
  color: #c0c5ce;
}
.message {
  border-left: 1px solid rgba(101, 115, 126, 0.5);
}
.refmessage {
  border-left: 1px solid rgba(101, 115, 126, 1);
}
.nick {
  color: #8fa1b3;
}
.trip {
  color: #4f5b66;
}
.text a {
  color: #dfe1e8;
}
.admin .nick {
  color: #bf616a;
}
.mod .nick {
  color: #96b5b4;
}
.me .nick {
  color: #b48ead;
}
.info .nick,
.info .text {
  color: #a3be8c;
}
.warn .nick,
.warn .text {
  color: #ebcb8b;
}
#footer {
  background: #2b303b;
}
#sidebar {
  background: #343d46;
  border-color: #65737e;
}
#chatform {
  border-color: #65737e;
}
