body {
  background: #191919;
  color: #02fcf4;
}
input,
textarea {
  color: #02fcf4;
}
.message {
  border-left: 1px solid #02fcf4;
}
.refmessage {
  border-left: 1px solid #02fcf4;
}
.nick {
  color: #05b7b1;
}
.trip {
  color: #02fcf4;
}
.text a {
  color: #00dd00;
}
.admin .nick {
  color: #053ab7;
}
.mod .nick {
  color: #0520b7;
}
.me .nick {
  color: #00bb00;
}
.info .nick,
.info .text {
  color: #00bb00;
}
.warn .nick,
.warn .text {
  color: #007700;
}
#footer {
  background: #191919;
}
#sidebar {
  background: #333333;
  border-color: #02fcf4;
}
#chatform {
  border-color: #02fcf4;
}
