body {
  background: #000000;
  color: #d0d0d0;
}
input,
textarea {
  color: #d0d0d0;
}
.message {
  border-left: 1px solid rgba(80, 80, 80, 0.5);
}
.refmessage {
  border-left: 1px solid rgba(80, 80, 80, 1);
}
.nick {
  color: #0e5a94;
}
.trip {
  color: #303030;
}
.text a {
  color: #e0e0e0;
}
.admin .nick {
  color: #eb008a;
}
.mod .nick {
  color: #00aabb;
}
.me .nick {
  color: #b31e8d;
}
.info .nick,
.info .text {
  color: #37b349;
}
.warn .nick,
.warn .text {
  color: #f8ca12;
}
#footer {
  background: #000000;
}
#sidebar {
  background: #202020;
  border-color: #505050;
}
#chatform {
  border-color: #505050;
}
