body {
  background: #2b2b2b;
  color: #e6e1dc;
}
input,
textarea {
  color: #e6e1dc;
}
.message {
  border-left: 1px solid rgba(90, 100, 126, 0.5);
}
.refmessage {
  border-left: 1px solid rgba(90, 100, 126, 1);
}
.nick {
  color: #6d9cbe;
}
.trip {
  color: #3a4055;
}
.text a {
  color: #f4f1ed;
}
.admin .nick {
  color: #da4939;
}
.mod .nick {
  color: #519f50;
}
.me .nick {
  color: #b6b3eb;
}
.info .nick,
.info .text {
  color: #a5c261;
}
.warn .nick,
.warn .text {
  color: #ffc66d;
}
#footer {
  background: #2b2b2b;
}
#sidebar {
  background: #272935;
  border-color: #5a647e;
}
#chatform {
  border-color: #5a647e;
}
