body {
  background: #002b36;
  color: #93a1a1;
}
input,
textarea {
  color: #93a1a1;
}
.message {
  border-left: 1px solid rgba(101, 123, 131, 0.5);
}
.refmessage {
  border-left: 1px solid rgba(101, 123, 131, 1);
}
.nick {
  color: #268bd2;
}
.trip {
  color: #586e75;
}
.text a {
  color: #eee8d5;
}
.admin .nick {
  color: #dc322f;
}
.mod .nick {
  color: #2aa198;
}
.me .nick {
  color: #6c71c4;
}
.info .nick,
.info .text {
  color: #859900;
}
.warn .nick,
.warn .text {
  color: #b58900;
}
#footer {
  background: #002b36;
}
#sidebar {
  background: #073642;
  border-color: #657b83;
}
#chatform {
  border-color: #657b83;
}
