body {
  background: #1f2224;
  color: #b9a8eb;
}
input,
textarea {
  color: #b9a8eb;
}

.message {
  border-left: 1px solid #cf56ff57;
}
.refmessage {
  border-left: 1px solid #cf56ff57;
}
.nick {
  color: #55586d;
}
.trip {
  color: #7b80a3;
}
.text a {
  color: #97ff97ef;
}
.admin .nick {
  color: #fd9652;
}
.mod .nick {
  color: #ec8476;
}
.me .nick {
  color: #55586d;
}
.info .nick,
.info .text {
  color: #d179d4;
}
.warn .nick,
.warn .text {
  color: #eba8a8;
}

#footer {
  background: #1f2224e7;
}

#sidebar {
  background: #0000008c;
  border-color: #cf56ff57;
}

#chatform {
  border-color: #cf56ff67;
}
