body {
  background: #1d1f21;
  color: #c5c8c6;
}
input,
textarea {
  color: #c5c8c6;
}
.message {
  border-left: 1px solid rgba(150, 152, 150, 0.5);
}
.refmessage {
  border-left: 1px solid rgba(150, 152, 150, 1);
}
.nick {
  color: #81a2be;
}
.trip {
  color: #373b41;
}
.text a {
  color: #e0e0e0;
}
.admin .nick {
  color: #cc6666;
}
.mod .nick {
  color: #8abeb7;
}
.me .nick {
  color: #b294bb;
}
.info .nick,
.info .text {
  color: #b5bd68;
}
.warn .nick,
.warn .text {
  color: #f0c674;
}
#footer {
  background: #1d1f21;
}
#sidebar {
  background: #282a2e;
  border-color: #969896;
}
#chatform {
  border-color: #969896;
}
