body {
  background-color: #2C001E;
  color: #E95420;
}
input,
textarea {
  color: #ccc;
  background-color: #111;
}
.message {
  border-left: 1px solid #2C001E;
}
.refmessage {
  border-left: 1px solid #2C001E;
}
.nick {
  color: #E95420;
}
.trip {
  color: #AEA79F;
}
.text a {
  color: #00AA00;
}
.admin .nick {
  color: #ac4142;
}
.mod .nick {
  color: #1FAD83;
}
.me .nick {
  color: #b854d4;
}
.info .nick,
.info .text {
  color: #00AA22;
}
.warn .nick,
.warn .text {
  color: #CFB017;
}
#footer {
  background: #2C001E;
}
#sidebar {
  background: #2C001E;
  border-color: #5E2750;
}
#charform {
  border-color: #5E2750;
}
