body {
  background-color: #2C001E;
  color: #E95420;
  overflow: hidden;
}

.container {
  max-height: calc(100vh - 70px);
}

.message {
  border-left: 2px solid #E95420;
  margin: 10px 0;
}

.nick {
  color: #E95420;
}

#footer {
  padding: 10px;
}

/* Add Makima on the bottom left */
body::after {
  content: "";
  display: block;
  position: fixed;
  bottom: -100px;
  left: 10px;
  width: 200px;
  background: url('/imgs/makima.svg') no-repeat;
  background-size: contain;
  background-position:bottom left;
  z-index: -1;
  height: 598px;
  filter:opacity(75%)
}

/* Additional styles for a kawaii touch */
a:hover {
  background-color: #3E002A;
  transition: background-color 0.3s ease;
}

.message img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#sidebar {
  background-color:inherit;
}
